<app-header [start]="start" [endFun]="endTest">
</app-header>

<div class="container py-4">
    <div>
        <div *ngIf="start; then testBlock; else instructionsBlock"></div>
        <ng-template #instructionsBlock>
            <app-instructions #instructions [questionNum]="questions.length" [startfun]="startTest" *ngIf="!start&&!finish"></app-instructions>
        </ng-template>
        <ng-template #testBlock>
            <app-test (childResultEvent)="updateResult($event)" [questions]="questions" [ParentEndTest]="endTest"></app-test>
        </ng-template>
    </div>
    <div *ngIf="finish">
        <h1>Result</h1>
        <p>
            {{userData.name}} You got <span class="">{{result}}</span> of<span> {{questions.length}}</span> points.
        </p>
    </div>

</div>
<app-footer></app-footer>